<!DOCTYPE html>
<html>
<head>
  <title>Sequence generator</title>
  <%= stylesheet_link_tag    "sequence_generator/application", media: "all" %>
  <%= javascript_include_tag "sequence_generator/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
